<div *ngIf="isLoading">
  <app-loader />
</div>
<div class="container">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Equipment list</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <table class="table table-bordered">
        <thead>
          <th colspan="2">Name</th>
          <th colspan="2">IPv4</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let equipment of this.equipments">
            <td colspan="2">{{equipment.name}}</td>
            <td colspan="2">{{equipment.ipv4}}</td>
            <td>
              <button type="button" mat-raised-button color="primary" (click)="pingEquipment(equipment.name, equipment.ipv4)">Ping</button>
              <a mat-raised-button color="accent" [routerLink]="['edit/',equipment.id]">Update</a>
              <button type="button" mat-raised-button color="warn" (click)="deleteEquipment(equipment.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </mat-card-content>
  </mat-card>

</div>
