<div *ngIf="isLoading">
  <app-loader />
</div>
<div class="container">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Statistics</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table class="table table-bordered">
        <thead>
          <th>Ip</th>
          <th>Successfull</th>
          <th>Unsuccessfull</th>
        </thead>
        <tbody>
          <tr *ngFor="let equipment of this.equipments">
            <td>{{equipment.ipv4}}</td>
            <td>{{equipment.successfull}}</td>
            <td>{{equipment.unsuccessfull}}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>

</div>
