<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()" class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <h1>Prueba técnica</h1>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>
    <h2>Equipments</h2>
    <mat-divider></mat-divider>


    <a mat-button [routerLink]="['equipment']">
      <button mat-raised-button>
      <mat-icon>computer</mat-icon>
      <span>Equipment List</span>
    </button>
    </a>


    <a mat-button [routerLink]="['equipment/create']">
      <button mat-raised-button>
        <mat-icon>computer</mat-icon>
        <span>Create Equipment</span>
      </button>
      </a>

    <mat-divider></mat-divider>
    <h2>Statistics</h2>
    <mat-divider></mat-divider>
    <a mat-button [routerLink]="['equipment/statistics']">
      <button mat-raised-button>
        <mat-icon>analytics</mat-icon>
        <span>View statistics </span>
      </button>
      </a>


    <mat-divider></mat-divider>

    <button mat-raised-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>


  <mat-sidenav-content class="content"><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
