.example-spacer {
  flex: 1 1 auto;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.example-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  height: calc(100% - 64px);
}

mat-sidenav{
  background-color: #3e3e3e;
  color:white;
  padding: 1em;
  max-width: 250px;
  mat-divider {
    margin: 0.5em auto;
    background-color:rgb(211, 211, 211);
  }
  button {
    width: 100%;
    + button{
      margin-top: 0.5em;
    }
  }
  a {
    width: 100%;
    + a{
      margin-top: 0.5em;
    }
  }
}

mat-sidenav-content {
  padding: 1em;
}
