<div *ngIf="isLoading">
  <app-loader />
</div>
<div class="container">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Update Equipment</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="updateEquipment()">
        <span *ngIf="success" class="text-success">Equipment updated</span>
        <div class="mb-3">
          <label for="name">Nombre</label>
          <input type="text" [(ngModel)]="name" name="name" id="name" class="form-control">
          <span *ngIf="errors.name" class="text-danger">{{errors.name}}</span>
        </div>
        <div class="mb-3">
          <label for="ipv4">IPv4</label>
          <input type="text" [(ngModel)]="ipv4" name="ipv4" id="ipv4" class="form-control">
          <span *ngIf="errors.ipv4" class="text-danger" >{{errors.ipv4}}</span>
        </div>
        <button mat-raised-button color="primary">Update</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
