<mat-sidenav-container class="example-container">
  <mat-sidenav-content class="content">

    <div class="container col-md-6 offset-md-3">

      <div class="content mat-elevation-z6 justify-content-center">
        <div class="login-form">
          <h2>LOGIN</h2>
          <mat-divider></mat-divider>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [(ngModel)]="email"
                   placeholder="Ex. pat@example.com">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput [(ngModel)]="password">
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" (click)="login()">Login</button>
        </div>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
