.example-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  height: calc(100%);
}


.container {
  margin-left: auto;
  margin-right: auto;
  top: 25%;
  bottom: 25%;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 25px;
  width: 100%;
  overflow: hidden;
}

.login-form{
  text-align: center;
  padding: 15px;
  background-color: white;
  width: 200px;
  @media(min-width: 450px){
    width: 320px;
  }
  @media(min-width: 800px){
    width: 500px;
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
